
ColorSwatchPicker
{
    background-color: #0008;
    padding: 5px;
    border-radius: 16px;
    position: relative;
    pointer-events: all;
    // Match the regular avatar slider's track and inset.
    height: 42px;

    .track
    {
        width: 100%;
        border-radius: 11px;
        overflow: hidden;
        cursor: pointer;
        position: relative;
    }

    .thumb
    {
        position: absolute;
        z-index: 100;
        top: 5px;
        bottom: 5px;
        width: 2px;
        pointer-events: none;
        transform: translateZ(-10px);
        color: #fff;
        text-shadow: none;
        margin-left: 3px;

        i
        {
            position: absolute;
            transform: rotate( 90deg );
            font-size: 14px;
            top: -7px;
            left: -4px;
        }

        .bottom
        {
            top: auto;
            bottom: -7px;
            transform: rotate( -90deg );
        }
    }
}
