@import "/styles/_theme.scss";

GamesPage
{
    background-color: transparent;
    align-items: center;
    justify-content: center;
}

Page
{
    width: 100%;
}

GamesPage packagelist virtualgrid
{
    padding-bottom: 132px;
}